@using AuctionSiteMvc.Domain;
@model Post

<h2>@Model.Title</h2>
<p>@Model.Description <p>
 <a href="/Post/Edit/@Model.Id" class="btn btn-primary btn-large">
      Edit
</a>

 <a href="/Home" class="btn btn-primary btn-large">
      Back
</a>
@*@Html.ActionLink("Back", "../Home/Index")</i></li>  
*@