@using AuctionSiteMvc.Domain
@model  IEnumerable<Post>

@{
    ViewBag.Title = "Post Main Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>"Bid and win! :"</h1>
            </hgroup>
            <p> Click on the title to start. </p>
        </div>
    </section>
}
<ul>  
@foreach (var post in @Model)
   {
     <li>  @Html.ActionLink(post.Title, "../Post/Details", new { PostId = post.Id, })</li>  
   }  
</ul>

