@using AuctionSiteMvc.Domain
@model  IEnumerable<Post>

@{
    ViewBag.Title = "Post Main Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>"Please see the posts list below :"</h1>
            </hgroup>
            <p> Please Click on the "View Description" link to see details </p>
        </div>
    </section>
}
<ul>  
@foreach (var post in @Model)
   {
     <li> @post.Title @Html.ActionLink("Details", "../Post/Details", new { PostId = post.Id, })</li>  
   }  
</ul>

