@using AuctionSiteMvc.Domain
@model  IEnumerable<Post>

@{
    ViewBag.Title = "Online Auction Site";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1><b>Online Auction Site </b></h1>
            </hgroup>
            <h3>Bid and Win!</h3>
            <p >.Net Study Group help you sell and buy stuffs by just a click. All for Onliners!  </p>
        </div>
    </section>
}

<ul class="thumbnails">  
@foreach (var post in @Model)
   {
       <li class="span3">
        <div class="thumbnail">
            <a href="/Post/Details/@post.Id">
                <h4>@post.Title</h4>
                <span class="text-info">@post.CreatedTime.ToShortDateString()</span>
                <span class="label label-info float-right">$@post.Price</span>

                <img src="/Images/@post.Image" alt=""/>
            </a>
        </div>
      </li>  
   }  
</ul>

